---
import Calculator from '../calculator/calculator.jsx';
import MenuDesplegable from "../ui/forms/input/MenuDesplegable.astro";
import DuracionAlquiler from "../ui/forms/input/DuracionAlquiler.astro";
import Promociones from "../ui/promociones/Promociones.astro";
import Icon from "../ui/icons/Icon.astro";
import PrecioInput from "../ui/forms/input/PrecioInput.astro";

const title: string = "Calculadora";
const subTitle: string = "...";
const formTitle: string = "CALCULADORA";
const formSubTitle: string =
  "VALORES CALCULADOS EN BASE A LOS VALORES INGRESADOS. EL COSTO FINAL CORRESPONDERA AL CALCULO EN BASE A LOS VALORES DEFINITIVOS DEL CONTRATO DE ALQUILER.";
---

<!-- calculadora -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
    <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
      <!-- Titulo del form Calculadora mas icono de calculadora -->
      <h1 class="space-xs-2 mb-6 flex items-center justify-center gap-4 text-2xl font-bold tracking-wider text-black">
        <Icon name="calculator" />
        <span class="text-text-neutral-700 dark:text-white">{formTitle}</span>
        <Icon name="calculator" />
      </h1>

      <!-- Integrando el componente React Calculator -->
      <Calculator />

      <div class="mt-3 text-center">
        <p class="mb-10 mt-1 text-xs text-neutral-600 dark:text-neutral-400">
          {formSubTitle}
        </p>
      </div>
    </div>
    <Promociones />
  </div>
</section>

